In [1]:
students = {
    "Vishal": 85,"Meera": 92,"Rohan": 78,"Simran": 88,"Kabir": 73,"Anaya": 95,"Yash": 67,"Ishita": 90,"Dev": 80,"Tanya": 76 }
search = input("Enter Student Name")
if search in students:
    print(f"Marks of {search}: {students[search]}")
else:
    print(f"Student '{search}' not found in the record.")

Enter Student Name Kabir

Marks of Kabir: 73

In [2]:
students = {
    "Vishal": 85,"Meera": 92,"Rohan": 78,"Simran": 88,"Kabir": 73,"Anaya": 95,"Yash": 67,"Ishita": 90,"Dev": 80,"Tanya": 76 }
search = input("Enter Student Name")
if search in students:
    print(f"Marks of {search}: {students[search]}")
else:
    print(f"Student '{search}' not found in the record.")

Enter Student Name Arun

Student 'Arun' not found in the record.

In [4]:
num = [x for x in range(1,11)]
""" This is Learned in List Comprehension Module"""
print(f"Original List {num}")
num_sl = num[0:5]
print(f"Extracted  first five Elements List {num_sl}") 
print(f"Reversed first five Elements {num_sl[::-1]}") 
print(f"Reverse first five Elemnts without using another varible {num[0:5][::-1]}")

Original List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Extracted  first five Elements List [1, 2, 3, 4, 5]
Reversed first five Elements [5, 4, 3, 2, 1]
Reverse first five Elemnts without using another varible [5, 4, 3, 2, 1]